[*]
indent_size = 4
indent_style = tab

[*.{json,ts}]
indent_size = 2

[*.sh]
end_of_line = lf

[*.{yaml,yml}]
indent_size = 2
indent_style = space

[/{package.json,pnpm-lock.yaml,pnpm-workspace.yaml}]
end_of_line = lf
