[*]
indent_size = 4
indent_style = tab

[*.{json,ts}]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2
indent_style = space

[/{.npmrc,package.json,pnpm-lock.yaml,pnpm-workspace.yaml}]
end_of_line = lf
