engine-strict = false
# --frozen-intrinsics: not compatible with renovate-config-validator (assigns to (function Error() {}).stackTraceLimit)
node-options = --disable-proto=delete --force-context-aware --force-node-api-uncaught-exceptions-policy
